<p>Dear <%=name%>,</p>
<br/>
<p>You have registered successfully. Please confirm your email address with the below link.</p>
<br/>
<a href="cofirmemail?confirm_token=<%=user.confirmation_token%>">Click here to confirm your email</a>
<br/>
<p>Thank you for contacting with Practice Assistant.</p>
