<p>Dear <%=user.name%>,</p>
<br/>
<p>Your account has been created successfully. Please check your login credentials below and update these details as soon as posible.</p>
<br/>
<p>Username <%=user.email%>,</p>
<br/>
<p>Password <%=user.password%>,</p>

<p>Thank you for contacting with Practice Assistant.</p>
